{% extends 'base.html' %} {% block content %}

<div class="input-group">
	<form class="d-flex">
        <label for="search-box"></label><input
			type="search"
			class="form-control"
			id="search-box"
			placeholder="Search..">
		<div class="input-group-btn">
			<button type="button" id="search-btn" class="btn btn-dark">
				<i class="fa-solid fa-magnifying-glass"></i>
			</button>
		</div>
	</form>
	<h5>Filter by:</h5>
	<div class="filter-group-btns">
		<button class="filter-btns btn btn-dark" type="button" id="Spicy">Spicy
			<i class="fa-solid fa-pepper-hot"></i>
		</button>
		<button class="filter-btns btn btn-dark" type="button" id="Vegan">Vegan
            <i class="fa-solid fa-seedling"></i>
		</button>
		<button class="filter-btns btn btn-dark" type="button" id="Vegetarian">Vegetarian
			<i class="fa-solid fa-leaf"></i>
		</button>
		<button class="filter-btns btn btn-dark" type="button" id="Popular">Popular
			<i class="fa-solid fa-trophy"></i>
		</button>
        <button class="name orderby-btn btn btn-dark" type="button" >
			<i class="fa-solid fa-arrows-rotate"></i>
		</button>
	</div>
	<h5>Order by:</h5>
	<div class="order-by-btns">
		<button class="price orderby-btn btn btn-dark" type="button" >
			<i class="fa-solid fa-dollar-sign"></i>
		</button>
		<button class="name orderby-btn btn btn-dark" type="button" >
			<i class="fa-solid fa-arrow-down-a-z"></i>
		</button>
	</div>
</div>
<h1 id="pizza-header">Pizzas</h1>
<div class="pizza-menu">
	{% for pizza in pizzas %} {% include "pizza/_one_pizza.html" with pizza=pizza %}
    {% endfor %}
</div>
<h1 id="drink-header">Drinks</h1>
<div class="drink-menu">
	{% for drink in drinks %} {% include "pizza/_one_drink.html" with drink=drink %}
    {% endfor %}
</div>
{% endblock %}
