{% extends 'base.html' %}

{% block content %}
    <div class="input-group">
        <input type="search" class="form-control" id="search-box" placeholder="Search.." />
        <div class="input-group-btn">
            <button type="button" id="search-btn">Search</button>
        </div>
        <div class="filter-group-btns">
            <button class="filter-btns" type="button" id="Spicy">Spicy</button>
            <button class="filter-btns" type="button" id="Vegan">Vegan</button>
            <button class="filter-btns" type="button" id="Vegetarian">Vegetarian</button>
            <button class="filter-btns" type="button" id="Popular">Popular</button>
        </div>
        <div class="order-by-btns">
            <button class="orderby-btn" type="button" id="price">Order by price</button>
            <button class="orderby-btn" type="button" id="name">Order by name</button>
            <button class="orderby-btn" type="button" id="name">Refresh filters</button>
        </div>
    </div>
    <h1>Pizzas</h1>
    <div class="pizza-menu">

        {% for pizza in pizzas %}
            {% include "pizza/_one_pizza.html" with pizza=pizza %}
        {% endfor %}
    </div>
    <h1>Drinks</h1>
    <div class="drink-menu">

        {% for drink in drinks %}
            {% include "pizza/_one_drink.html" with drink=drink %}
        {% endfor %}
    </div>
{% endblock %}