{% extends "base.html" %} 
{% block content %}
    <div class="col d-flex">
        <div class="row-md-4">
            {% for pizza_image in pizza.pizzaimage_set.all %}
                <img
                    src="/{{ BASE_DIR }}static/images/{{pizza_image.image}}"
                    class="pizza-image"
                    alt="{{ pizza.description }}"
                />
            {% endfor %}
        </div>
        <div class="col-md-5 mx-auto px-5 mt-5 py-5">
            <h1>{{ pizza.name |upper }}</h1>
            <div class="container-sm d-flex">
                <ul class="list-unstyled my-4">
                    <li class="mb-4">Description: {{ pizza.description }}</li>
                    <li class="mb-4">Price: {{ pizza.price }} kr.</li>
                </ul>
            </div>
            {% if user.is_authenticated %}
            <form action="{% url 'add_to_cart' pizza.product_id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-dark mt-3">Add to cart</button>
            </form>
            {% else %}
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-dark mt-3">Login to add to cart</button>
            </form>
            <form action="{% url 'create_user' %}" method="get">
                {% csrf_token %}
                <button class="btn btn-dark mt-3">Register a new user</button>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
