{% extends "base.html" %}
{% block content %}
    <div class="col d-flex">
        <div class="row-md-4">
            <img src="/{{ BASE_DIR }}static/images/{{ discount.image }}" class="discount-image img-fluid" alt="{{ discount.description }}"/>
        </div>
        <div class="col-md-5 mx-auto px-5 mt-5 py-5">
            <h1>{{ discount.name |upper }}</h1>
           <div class="container-sm d-flex", style="background-color:#282931">
               <ul class="list-unstyled my-4">
            <li class="mb-4"> Description: {{ discount.description }}</li>
               </ul>

            </div>
            <form action="{% url 'add_discount' discount.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-dark mt-3" style="background-color:#282931">Use discount</button>
            </form>
        </div>
    </div>
{% endblock %}