{% extends "base.html" %}
{% block content %}
    <div class="col d-flex">
        <div class="row-md-4">
            <img src="/{{ BASE_DIR }}static/images/{{offer.image}}" class="offer-image img-fluid" alt="{{ offer.description }}"/>
        </div>
        <div class="col-md-5 mx-auto px-5 mt-5 py-5">
            <h1>{{ offer.name |upper }}</h1>
           <div class="container-sm d-flex", style="background-color:#282931">
               <ul class="list-unstyled my-4">
            <li class="mb-4"> Description: {{ offer.description }}</li>
            <li class="mb-4"> Price: {{ offer.price }} kr.</li>
               </ul>

            </div>
            <button class="btn btn-dark mt-3", style="background-color:#282931">Buy offer</button>
        </div>
        </div>
        </div>
{% endblock %}


