{% extends "base.html" %} {% block content %}
<div class="container-about-us">
	<div class="d-flex justify-content-end">
		<div class="col-md-6 about-child about-txt bg-darkcyan mt-5">
			<h1 class="mt-5 px-5">REYK</h1>
			<h2 class="about-header mb-0 px-5">PIZZERIA</h2>
			<p class="text px-5 mt-5">
				Welcome to REYK. A new pizzeria in the heart of Reykjavík.
                Created by a group 4 individuals that have a passion for gourmet
                pizzas. We opened in 2023 on the 12th of May, after many months of
                hard work and development. We believe in using only the finest
                ingredients. We take pride in locally sourced ingredients,
                including our meats, cheese, and vegetables. This not only
                supports the local environment and farmers, it also coincides
                with our environmental policy of reducing carbon emission.
                Our culinary focus is on delicious and unique pizzas, as well
                as well-know classics, all bursting with flavour.
			</p>
			<p class="text px-5 mt-5">
				At our restaurant, we believe that dining is more than just
				about the food. We strive to create a warm and inviting
				atmosphere where you can sit back, relax, and enjoy your meal
				with friends and family. Our team of friendly and knowledgeable
				staff are here to make sure that every aspect of your dining
				experience is perfect.
			</p>
		</div>
		<div class="col-md-6 ml-auto">
			<img
				class="about-img"
				src="/{{ BASE_DIR }}static/images/about.png"
			/>
		</div>
	</div>
</div>
{% endblock %}
