body {
    padding-top: 55px;
    background-color: #34363E;
    color: white;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#pizza-header, #drink-header{
    padding-left: 650px;
    margin-top: 20px;
}

.pizza-menu, .drink-menu, .offers, .discounts, .profile-div {
    background-color: #34363e;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 20px;
    margin-left: 175px;
    margin-right: 100px;
    justify-content: center;
}


.baby-pizza, .baby-drink, .baby-offer, .baby-discount {
    background-color: #282931;
    flex: 0 0 30%;
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.pizza-detail-child, .drink-detail-child, .right-hand, .left-hand {
    background-color: #282931;
    flex: 0 0 48%;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
}

.baby-order_item, .order-overview {
    display: inline-grid;
    background-color: #282931;
    margin-left: 30px;
    text-align: left;
    margin-top: 20px;
}

.order-overview {
    padding-top: 72px;
}

.item-image {
    margin-left: 30px;
}

.background-img {
   width: 109%;
}

#cover-photo {
    width: 100%;
}

.container {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

.Copyright {
    background-color: #282931;
    margin-top: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: xx-small;
}

.container-footer {
    background-color: #282931;
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
}

.Toe {
    flex: 0 0 30%;
    padding-left: 200px;
}
.Toe p {
    padding: 0;
    margin: 0;
}

.menu-name, .offer-info, .discount-info {
    font-size: large;
    padding-top: 5px;
    padding-bottom: 5px;
}

.about-us {
    display: flex;
}
.about-child {
    flex: auto;
    align-content: space-between;
}
.about-img{
    margin-right: 50px;
}

.input-group {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    background:#282931;
    margin-top: 30px;
    padding-left:215px;
    width: 109.1%;
    overflow-x: hidden;
}

 i {
  color: white;
}
 
.filter-group-btns {
     position: relative;
 }

.filter-btns {
    margin-left: 5px;
    border: none;
    border-radius: 5px;
}

.orderby-btn {
    border: none;
    margin-left: 5px;
    border-radius: 5px;
}


h5 {
    margin-left: 2px;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 50px;
}

.container-about-us, .order-items {
    padding-left: 150px;
}

.order-details {
    margin-left: 100px;
}

.order-text {
    margin-top:10px;
    margin-left: 20px;
}

.right-hand, .left-hand .baby-order_item {
    padding-top: 30px;
    padding-bottom: 40px;
}

.order-overview {
    position: absolute;
    height: 300px;
    padding-bottom:20px;

}


.order-image {
    width: 100px;
    height: 100px;
}

#profile-img {
    max-height: 320px;
    width: 320px;
    margin-top: 10px;
    margin-right: 60px;
}

button, .btn ,.container-sm{
    background-color: #282931;
}

#form-btn {
    position: relative;
    width: 400px;
    background-color: #34363E;
    padding-left: 10px;
    margin-top: 20px;
}

.form {
    width: 350px;
}

.about-header {
    text-indent: 1em
}

.navbar {
    background-color: #282931
}

.collapse {
    margin-left: 40px;
}

.login-title {
    padding-left:525px;
    margin-top: 50px;
    font-size: 30px;
}

.create-user-title {
    margin-top: 50px;
    padding-left: 580px;
    font-size: 30px;
}

.form-row-login {
    display: inline-grid;
    padding-left: 560px;
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
}

#login-button {
    margin-top: 15px;
    margin-left: 55px;
}

.form-row-register {
    display: inline-grid;
    padding-left: 450px;
    margin-top: 20px;
    padding-right: 380px;
}

#create-button {
    margin-top: 15px;
    width: 100px;
    margin-left: 190px;
}

.order-in-cart {
    margin-top: 20px;
}

#empty-cart{
    margin-top: 35px !important;
    position: relative;
    margin-left: 25px;

}

.cart-title {
    position: relative;
    padding-top: 30px;
    margin-left: 35px !important;
    margin-bottom: 10px;


}

.overview-title {
    padding-left: 20px;
    position: absolute;
    margin-top: 20px;
}

#chose-pizza {
    display: inline-grid;
}

#checkout-btn {
    margin-left: 110px;
    background-color: #34363E;
    margin-bottom: 20px;
}

.container-order {
    margin-left: 200px;
}

.select-pizza {
    height: 200px;
    width: 200px;
}

#buy-offer-btn {

}

#plus-btn {
    position: relative;
    background-color: #34363E;
}

#minus-btn {
    position: relative;
    background-color: #34363E;
    margin-right: 95px !important;
}