{% extends "base.html" %}
{% block content %}
    <div class="profile-div">
        <div class="right-hand row">
            <h1>Profile</h1>
            <form class="form row" method="post">
                {% csrf_token %}
                {{ form }}
                <input id="form-btn" type="submit" class="btn btn-dark" value="update"/>
            </form>
        </div>
        <div class="left-hand row">
            {% if user.profile.image %}
                <img id="profile-img" src="{{ user.profile.image }}" alt="Profile image for user" class="image" />
            {% else %}
                <img id="profile-img" src="https://t4.ftcdn.net/jpg/04/10/43/77/360_F_410437733_hdq4Q3QOH9uwh0mcqAhRFzOKfrCR24Ta.jpg" alt="Default profile image" class="image" />
            {% endif %}
        </div>
    </div>
{% endblock %}