<footer class="text-center text-lg-start" >
  <!--Footer -->
  <div class="container-footer">
      <!--Toe-->
      <div class="Toe">
          <h1>REYK</h1>
          <p>Hverfisgata 7</p>
          <p>Sími: 767 7676</p>
      </div>

      <!--Toe-->
      <div class="Toe">
          <h4>Navigation</h4>
          <a class="nav-link" href="{% url 'menu_index' %}">Menu</a>
          <a class="nav-link" href="/">About Us</a>
          <a class="nav-link" href="{% url 'offers_index' %}">Offers</a>
      </div>

      <!--Toe-->
      <div class="Toe">
          <h4>Opening Hours</h4>
          <p>16:00 - 23:00</p>
          <p>Every Day</p>
      </div>

  </div>
  <!--Footer-->

  <!-- Copyright -->
  <div class="Copyright text-center">
    © 2023 Copyright: Group 19
  </div>
  <!-- Copyright -->
</footer>