<nav class="navbar navbar-expand-lg fixed-top", style="background-color:#282931">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/">REYK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-1 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'menu_index' %}">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'menu_index' %}">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'offers_index' %}">Offers</a>
        </li>
      </ul>
        </div>
      <div>
       <ul class="navbar-nav ml-auto">
    <li class="nav-item me-3 me-lg-0">
        <a class="nav-link text-white" href="{% url 'users_index' %}"><i class="fa fa-fw fa-user-o fa-1x"></i></a>
    </li>
    <li class="nav-item me-3 me-lg-0">
        <a class="nav-link text-white" href="{% url 'orders_index' %}"><i class="fa fa-shopping-cart fa-1x"></i></a>
    </li>
</ul>
    </div>
  </div>
</nav>
