{% extends 'base.html' %}
{% block content %}
    <div class="order-items">
        {% for item in order_items %}
            <div class="baby-order_item justify-content center">
                <div class="item-image">
                    <img src="/{{ BASE_DIR }}static/images/{{item.image}}" alt="{{ item.description }} " width="100%" />
                </div>
                <div class="order-details">
                    <p> {{ item.name|upper }} x {{ item.quantity }} </p>
                    <p> {{ item.price }}kr Total Price {{ item.get_full_price }}</p>
                    <i class="fa fa-minus"></i>
                    <i class="fa fa-plus"></i>
                    <span class="vsm-text plus">+</span>
                            <span class="vsm-text minus">-</span>
                </div>
            </div>
        {% endfor %}
        <div class="order-overview">
            <p> Price: {{ user_order.get_price }}</p>
            <p> Discount: {{ user_order.discount}}%</p>
            <p>Full Price: {{ user_order.get_discount_price }}</p>
        </div>
    </div>
{% endblock %}